@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  color: #1c1c1c;
}

h1,
h2,
h3 {
  margin-top: 0;
}
h1 {
  margin-bottom: 0.75rem;
  font-size: 3.2rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: normal;
}

p {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.is-bold {
  font-weight: bold;
}

.kitchen {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  padding: 1.5rem;
}
.kitchen__list {
  padding-left: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.kitchen__list__item {
  list-style-type: disc;
  padding-left: 0;
  line-height: 1.5rem;
  font-weight: bold;
}
